[Unit]
Description = Emacs: the extensible, self documenting text editor
Documentation = info:emacs man:emacs(1) https://gnu.org/software/emacs/
After = ssh-agent.service
Requires = emacs.socket

[Service]
Type = notify
ExecStart = /usr/bin/emacs --fg-daemon=%t/emacs/systemd-user.socket
SuccessExitStatus = 15
Restart = on-failure

[Install]
WantedBy = default.target
