[Unit]
Description = OpenSSH Agent
Documentation = man:ssh-agent(1)
Requires = ssh-agent.socket

[Service]
Environment = SSH_ASKPASS_REQUIRE=force
ExecStart=/usr/bin/ssh-agent -a $SSH_AUTH_SOCK -D

[Install]
WantedBy = default.target
